[submodule "vim/.vim/pack/utils/start/vim-airline"]
	path = vim/.vim/pack/utils/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/.vim/pack/utils/start/vim-airline-themes"]
	path = vim/.vim/pack/utils/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/.vim/pack/go/opt/vim-go"]
	path = vim/.vim/pack/go/opt/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/pack/utils/start/ale"]
	path = vim/.vim/pack/utils/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "vim/.vim/pack/toml/start/vim-toml"]
	path = vim/.vim/pack/toml/start/vim-toml
	url = git@github.com:cespare/vim-toml.git
[submodule "vim/.vim/pack/javascript/opt/vim-jsx-pretty"]
	path = vim/.vim/pack/javascript/start/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
[submodule "vim/.vim/pack/typescript/start/typescript-vim"]
	path = vim/.vim/pack/typescript/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "vim/.vim/pack/elm/start/elm-vim"]
	path = vim/.vim/pack/elm/start/elm-vim
	url = git@github.com:ElmCast/elm-vim.git
[submodule "base16/.config/base16-shell"]
	path = base16/.config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "vim/.vim/pack/utils/start/base16-vim"]
	path = vim/.vim/pack/utils/start/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "vim/.vim/pack/utils/start/vim-gitgutter"]
	path = vim/.vim/pack/utils/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/.vim/pack/utils/start/vim-commentary"]
	path = vim/.vim/pack/utils/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/.vim/pack/utils/start/vim-surround"]
	path = vim/.vim/pack/utils/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/.vim/pack/utils/start/vim-repeat"]
	path = vim/.vim/pack/utils/start/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
